@import '../../variables.scss';

.topbar-container {
  background-color: $black;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.menu-items {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: auto;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.item {
  color: $white;
  padding: 15px;
  font-variant: small-caps;
}

.item:hover {
  color: $hover-text;
  background-color: $soft-black;
}
