@import '../../variables.scss';

.header {
  background-color: $off-black;
  height: 250px;
  padding: 20px;
  color: $white;
}

.logo {
  margin-top: 40px;
  width: 70%;
  max-height: 100%;
}

@media only screen and (max-width: 500px) {
    .header {
        height: 8%;
    }
}
