@import '../../variables.scss';

.header {
  background-color: $off-black;
  height: 300px;
  padding: 20px;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.full-header {
  background-color: $off-black;
  height: 100vh;
  width: 100vw;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  margin-top: 60px;
  max-height: 90%;
}

.arrow {
  height: 75px;
  position: absolute;
  bottom: 0;
  z-index: 1;
}

@media only screen and (max-width: 500px) {
    .header {
        height: 8%;
    }
    .logo {
      width: 70%;
    }
}
