@import '../../variables.scss';
@import "node_modules/react-image-gallery/styles/scss/image-gallery.scss";

.media-text {
  font-size: 2.5em;
}

.media-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
}

.image-gallery {
  padding-left: 10%;
  padding-right: 10%;
  max-height: 90vh;
}

.image-gallery-image img {
  max-height: 70vh;
  max-width: 100%;
  width: auto;
  height: auto;
}

.image-gallery-thumbnails-container img {
  max-height: 100px;
  max-width: 100px;
  width: auto;
  height: auto;
}

.image-gallery-description {
  margin-left: 5px;
}
